---
- name: Add tm-team users
  user:
      name: "{{ item }}"
      state: present
      groups: tbb-build
      shell: /bin/bash
  with_items: "{{ tm_team_members }}"

- name: Add ssh keys to authorized_keys
  authorized_key:
      user: "{{ item }}"
      state: present
      key: "{{ lookup('file', item + '.pub') }}"
  with_items: "{{ tm_team_members }}"
