#!/usr/bin/env ./Browser/execdesktop
#
# This file is a self-modifying .desktop file that can be run from the shell.
# It preserves arguments and environment for the start-tor-mail script.
#
# Run './start-tor-mail.desktop --help' to display the full set of options.
#
# When invoked from the shell, this file must always be in a Tor Mail root
# directory. When run from the file manager or desktop GUI, it is relocatable.
#
# After first invocation, it will update itself with the absolute path to the
# current TBB location, to support relocation of this .desktop file for GUI
# invocation. You can also add Tor Mail to your desktop's application menu
# by running './start-tor-mail.desktop --register-app'
#
# If you use --register-app, and then relocate your TBB directory, Tor Mail
# will no longer launch from your desktop's app launcher/dock. However, if you
# re-run --register-app from inside that new directory, the script
# will correct the absolute paths and re-register itself.
#
# This file will also still function if the path changes when TBB is used as a
# portable app, so long as it is run directly from that new directory, either
# via the shell or via the file manager.

[Desktop Entry]
Type=Application
Name=Tor Mail Setup
GenericName=Mail Client
Comment=Tor Mail is +1 for privacy and -1 for mass surveillance
Categories=Network;Mail;Security;
Exec=sh -c '"$(dirname "$*")"/Browser/start-tor-mail --detach || ([ ! -x "$(dirname "$*")"/Browser/start-tor-mail ] && "$(dirname "$*")"/start-tor-mail --detach)' dummy %k
X-TorMail-ExecShell=./Browser/start-tor-mail --detach
Icon=mail-client
StartupWMClass=Tor Mail
