From 4356de52ed7414df638bd523b730fba619a59303 Mon Sep 17 00:00:00 2001
From: Sukhbir Singh <sukhbir@torproject.org>
Date: Fri, 28 Jul 2017 11:22:13 -0400
Subject: [PATCH 1/1] Set ControlPort to [% c("var/tor_control_port") %]

---
 src/defaults/preferences/prefs.js | 2 +-
 1 file changed, 1 insertion(+), 1 deletion(-)

diff --git a/src/defaults/preferences/prefs.js b/src/defaults/preferences/prefs.js
index 752514a..7c1752a 100644
--- a/src/defaults/preferences/prefs.js
+++ b/src/defaults/preferences/prefs.js
@@ -16,7 +16,7 @@ pref("extensions.torlauncher.max_tor_log_entries", 1000);
 // override the default IPC object location. If a relative path is used,
 // it is handled like torrc_path (see below).
 pref("extensions.torlauncher.control_host", "127.0.0.1");
-pref("extensions.torlauncher.control_port", 9151);
+pref("extensions.torlauncher.control_port", [% c("var/tor_control_port") %]);
 pref("extensions.torlauncher.control_port_use_ipc", false);
 pref("extensions.torlauncher.control_ipc_path", "");
 
-- 
2.13.3

